<div class = "spec_offer">
  <div id="spec_offer_title">
    <p>контакты</p>
  </div>
  <div class = "info">
      <p>Пожалуйста, обращайтесь!</p>
    <ul>
    <li>Телефон: <%= link_to "+7 (926) 012-56-12", store_contacts_path %></li>
    <li>Генеральный директор: <%= link_to "direktor@svopart.ru", 'mailto:direktor@svopart.ru' %></li>
    <li>Отдел по работе с клиентами: <%= link_to "info@svopart.ru", 'mailto:info@svopart.ru' %></li>
    <li>Закупки: <%= link_to "direktor@svopart.ru", 'mailto:direktor@svopart.ru' %></li>
    <li>По вопросам рекламы: <%= link_to "reklama@svopart.ru", 'mailto:reklama@svopart.ru' %></li>
    <li>Для жалоб и предложений: <%= link_to "direktor@svopart.ru", 'mailto:direktor@svopart.ru' %></li>
    </ul>

    </br>
    <h4>Реквизиты:</h4>
    <ul>
    <li>ООО "СВОПАРТ"</li>
    <li>ОГРН 1117746533035</li>
    <li>Юридический адрес: 117648, г. Москва, мкр-н Северное Чертаново, д. 6, корп. 607, помещение Iа</li>
    </ul>
  </div>
</div>
