<!DOCTYPE html>
<html>
<head>
  <title>Svopart</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min.js', 'rails.js', 'dd_roundies.js', 'jquery.tooltip.js', 'jquery.gritter.min.js', 'jquery.colorbox-min.js', 'application.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="box">



<!-- Begin Wrapper -->
		 
		 <!-- Begin Left Column -->
		<div id="sidebar">
		 
      <%= link_to image_tag("logo.jpg"), root_path %>
      <div class = "sidebar_content">
        <div id = 'search'>
          <p>Поиск</p>
          <form action='/store/akafilt' method='get'>
            <input type='text' value='<%= params[:search] %>' name='search' class = 'input_line'>
            </br>
            <input type='submit' value='' class = "search_button shadow">
          </form>
          <ul>
            <li><%= link_to '› Расширенный поиск', store_advanced_search_path %></li>
            <li></li>
          </ul>
        </div>
        <div>
          <p>Каталог</p>
          <ul>
            <li><%= link_to '› Картриджи Brother', store_akafilt_path(:producer => 'Brother') %></li>
            <li><%= link_to '› Картриджи Canon', store_akafilt_path(:producer => 'Canon') %></li>
            <li><%= link_to '› Картриджи HP', store_akafilt_path(:producer => "HP") %></li>
            <li><%= link_to '› Картриджи Kyocera', store_akafilt_path(:producer => 'Kyocera') %></li>
            <!--<li><%= link_to '› Картриджи Panasonic', store_akafilt_path(:producer => 'Panasonic') %></li>-->
            <li><%= link_to '› Картриджи Samsung', store_akafilt_path(:producer => 'Samsung') %></li>
            <li><%= link_to '› Картриджи Xerox', store_akafilt_path(:producer => 'Xerox') %></li>
            <li><%= link_to '› Термоплёнка Panasonic', store_akafilt_path(:producer => 'Panasonic') %></li>
            <li></li>
          </ul>
        </div>
		  </div>
	  </div>
		<!-- End Left Column -->
		 
		<!-- Begin Right Column -->
    
	  <div id = "header">	
      <p><b><%= link_to 'www.svopart.ru', root_path %> 
          <span style="padding:0px 10px 0 10px;">/</span>
                    Добро пожаловать<% if user_signed_in? %>, <%= current_user.username %>!</b>
          <%= link_to "Выйти", destroy_user_session_path, :id => "header_logout" %></p>
          <% else %>!</b></p>
          <% end %>
    </div>
    <div id="content">
    
      <ul class = "main_links shadow">
        <li><%= link_to image_tag("wqe/inform.png"), store_information_path %></li>
        <li><%= link_to image_tag("wqe/delivery.png"), store_delivery_path %></li>
        <li><%= link_to image_tag("wqe/vacancy.png"), store_vacancy_path %></li>
        <li><%= link_to image_tag("wqe/contacts.png"), store_contacts_path %></li>
      </ul>

      <div class = "logcart_bar">
        <div class = "log_in">
          <p>Ваш аккаунт</p>
          <div id = "user_nav"> 
            <% if user_signed_in? %>
              <p style = "padding-top:14px;">Вы зашли как <b><%= current_user.username %></b>.</p>
              <br />
              <p><%= link_to "Ваш профиль", store_profile_path %></p>
              <br />
              <!--<p>Не вы? <%= link_to "Выйти", destroy_user_session_path %></p>-->
            <% else %>
              <%= render "devise/sessions/new" %>
              <!--<br />
              <%= link_to "Зарегистрироваться", new_user_registration_path %>
              <br />
              <%= link_to "Войти", new_user_session_path %>-->
            <% end %>
          </div>

        </div>
        <div class = "cart_wrap">
            <h3>Корзина</h3>
            <% if @cart %>
              <div id = "cart">
                <%= render "carts/cart", :cart => @cart %>
              </div>
            <% end %>
          </div>
        <div  class = "contacts_on_bar">
          <p>Контакты</p>
          <div>
            <%= image_tag "wqe/clock.jpg" %>
            <h3>Мы на связи!</h3>
            <ul>
              <li>(495) 000-00-00</li>
              <li><%= link_to "info@svopart.ru", 'mailto:info@svopart.ru' %></li>
              <li><%= link_to 'обратная связь', new_support_path %></li>
            </ul>
          </div>
        </div>
      </div>
      <% if flash[:notice] -%>
        <script type="text/javascript">
          $.gritter.add({
         	  // (string | обязательно) заголовок сообщения
         	  title: 'подсказка',
            // (string | обязательно) текст сообщения
        	  text: '<%= escape_javascript flash[:notice] %>',
            time: '3000'
          });
        </script>
      <% end -%>
      <% if flash[:error] -%>
        <script type="text/javascript">
          $.gritter.add({
           	// (string | обязательно) заголовок сообщения
           	title: 'ошибка!',
          	// (string | обязательно) текст сообщения
          	text: '<%= escape_javascript flash[:error] %>',
            time: '3000'
          });
        </script>
      <% end -%>  
  
  		<%= yield %>


		</div>
		<!-- End Right Column -->
		<div id="footer">&copy; 2011 Интернет-магазин СВОПАРТ - картриджи и расходные материалы. 
                      <%= link_to "(495) 000-00-00", store_contacts_path %></div>
  <!-- End Wrapper -->
    </div>
</body>
</html>
